/* variables */
/* body */
body {
  background-color: #00F0FC;
}

/* nav */
.navbar.navbar-light .navbar-nav .nav-link {
  color: #00F0FC;
}
.navbar.navbar-light .navbar-nav .nav-link.active {
  color: #032FC4;
}

/* heading tags */
h1, h2, h3, h4, h5, h6 {
  color: #8A8C8D;
  font-family: "Anton", sans-serif;
  font-family: "Kanit", sans-serif;
  font-family: "Questrial", sans-serif;
}

/* buttons */
.btn {
  border-radius: 0;
}

.btn-lg {
  padding: 1rem 2rem;
}

/* jumbotron */
.jumbotron {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: transparent;
  background-image: url(../images/newjumbopic.svg);
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  background-attachment: scroll;
  background-size: auto;
  z-index: 0;
  margin-bottom: 5rem;
}
.jumbotron .container {
  z-index: 1;
  color: black;
}
.jumbotron .container h1 {
  color: black;
  font-weight: 800;
  font-size: 10rem;
  line-height: 10rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

/* about */
.section-about {
  position: relative;
  z-index: 2;
  margin-bottom: 15rem;
}
.section-about .col-about {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
}
.section-about .col-about:before {
  position: absolute;
  content: "'";
  width: calc(100% + 1.7rem);
  height: calc(100% + 1.7rem);
  display: block;
  background: #032FC4;
  border-radius: 3rem;
  z-index: -1;
  top: -1rem;
  left: -1rem;
}

.col-speakers {
  padding-bottom: 3rem;
  color: black;
}
.col-speakers p {
  padding-right: 2rem;
}
.col-speakers:before {
  position: absolute;
  content: "'";
  width: calc(100% + 3rem);
  height: calc(100% + 1.7rem);
  display: block;
  border: 3px solid #032FC4;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  z-index: -2;
  top: -3rem;
  left: -1rem;
}

.col-toppics {
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.col-toppics h3 {
  padding-left: 2rem;
  color: #8A8C8D;
}
.col-toppics .list-group {
  margin-left: 2rem;
}
.col-toppics .list-group .list-group-item {
  border-radius: 0;
}
.col-toppics:before {
  position: absolute;
  content: "'";
  width: calc(100% + 3rem);
  height: calc(100% + 1.7rem);
  display: block;
  background-color: white;
  border: 3px solid #032FC4;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  z-index: -2;
  top: 1rem;
  left: -1rem;
}

/* speakers */
.section-speakers {
  background-color: #032FC4;
  position: relative;
  padding-top: 6rem;
  padding-bottom: 8rem;
}
.section-speakers svg path.wave-top {
  fill: #032FC4;
}
.section-speakers svg path.wave-middle {
  opacity: 0.8;
  fill: #01259F;
}
.section-speakers svg path.wave-end {
  opacity: 0.8;
  fill: #032FC4;
}
.section-speakers .container {
  position: relative;
}
.section-speakers .container h2 {
  color: #00F0FC;
  font-weight: 800;
  font-size: 10rem;
  text-transform: uppercase;
  margin-bottom: 6rem;
  text-align: center;
  position: absolute;
  top: 28rem;
  left: 0;
  width: 100%;
  z-index: 3;
}
.section-speakers .container .card {
  background: transparent;
  margin-bottom: 2rem;
  border: 0;
}
.section-speakers .container .card img.card-img-top {
  border-radius: 0;
  box-shadow: 36px 36px 72px -36px rgba(0, 0, 0, 0.5);
}
.section-speakers .container .card .card-body {
  padding: 1rem 0 0 0;
}
.section-speakers .container .card .card-body h4.card-title {
  color: white;
}
.section-speakers .container .card .card-body p.card-text {
  color: white;
  font-size: 0.8rem;
}
.section-speakers .container .card.card-1 {
  margin-top: 6rem;
  margin-left: -5rem;
}
.section-speakers .container .card.card-3 {
  margin-top: 6rem;
}
.section-speakers .container .card.card-4 {
  margin-top: 6rem;
  z-index: 4;
}
.section-speakers .container .card.card-5 {
  margin-top: 12rem;
}
.section-speakers .container .card.card-6 {
  margin-top: 4rem;
  margin-right: -5rem;
}

/* svg */
.svg-separator {
  display: block;
  background: 0 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9;
  -webkit-transform: translateY(-100%) translateY(2px);
  transform: translateY(-100%) translateY(2px);
  width: 100%;
  overflow: hidden;
}
.svg-separator .bottom {
  top: auto;
  bottom: 0;
}
.svg-separator .sep1 {
  transform: translateY(-100%) translateY(2px) scale(1, 1);
  transform-origin: top;
}

/* schedule */
.section-schedule {
  padding-top: 2rem;
  padding-bottom: 8rem;
  background-image: linear-gradient(180deg, #032FC4 0%, #00F0FC 100%);
}
.section-schedule .container {
  position: relative;
}
.section-schedule .container h2 {
  color: white;
  font-weight: 800;
  font-size: 8rem;
  margin-top: 0;
  margin-bottom: -2rem;
  text-align: center;
}
.section-schedule .container ul.list-group {
  max-width: 800px;
  margin: auto;
}
.section-schedule .container ul.list-group li.list-group-item {
  background: #17a2b8;
  border-color: rgba(255, 255, 255, 0.2);
  color: white;
}
.section-schedule .container ul.list-group li.list-group-item h5 {
  color: black;
}

/* cta */
.section-cta {
  min-height: 20rem;
  display: flex;
  align-items: center;
  background-color: #00f0fc;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%2300dde8' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
  z-index: 0;
  margin-bottom: 5rem;
}

/* footer */

/*# sourceMappingURL=style.css.map */
