
/*variables */

$wc-color-lgtblue: #5F8FF8;

/* heading tags */
h4{
	color:$wc-color-lgtblue;
}
h3{
	color:$wc-color-lgtblue;
}
h2{
	color:$wc-color-lgtblue;
}
#jumbotron{
	background-image: url(../images/jumbopic.jpg);
	background-size: cover;
font-family: 'Anton', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Questrial', sans-serif;
}
#footer{
	background-color:#5f8ff8;
}
