h4{
	color:#5F8FF8;
}
h3{
	color:#5F8FF8;
}
h2{
	color:#5F8FF8;
}
#jumbotron{
	background-image: url(../images/jumbopic.jpg);
	background-size: cover;
font-family: 'Anton', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Questrial', sans-serif;
}
#footer{
	background-color:#5f8ff8;
}
